
<div id = "view-welcome" class = "page-container" ng-init = "$parent.openLeftMenu = false">	
	<div data-role = "page">
		<div class = "page-wrapper">
			<div class = "page-subject">
				{{labels.Welcome}}
			</div>
			<div class = "page-content">
				<div class = "page-full-form col-lg-12">

					<div class = "part-content">
						<b>General Information</b>
						<p>
							... ... <br>
							... ... <br>
							... ... <br>
						</p>
					</div>
					
					<div class = "part-content">
						<b>This is HTML text</b>
						<p>
							... ... <br>
							... ... <br>
							... ... <br>
						</p>
					</div>
					
					<div class = "part-content">
						<b>Enjoy working with us</b>
						<p>
							... ... <br>
							... ... <br>
							... ... <br>
						</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>